<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jmtransfers.jmtransfer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="Jm Transfers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MoneyTransferCalculator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Account"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Help"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Dashboard_Fragment"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RegisterTabActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Forgot_Password"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Beneficary_List"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Confirm_Beneficary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Confirm_Sender"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Confirm_Transfer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Confirm_Pay"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Receipt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Transfer_Receipt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Transfer_Receipt_Activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sign_Address"
            android:label="@string/title_activity_sign__address"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".Sign_Address"
            android:label="@string/title_activity_sign__address"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>


    </application>

</manifest>
